:root{
    --primary-color: #282828;
    --box-shadow: 0.5em 0.5em 2em #1b1b1b, -0.5em -0.5em 2em #353535, inset 0 0 0 #1b1b1b, inset 0 0 0 #353535;
    --text-color: rgb(254, 254, 254);
    --secondary-text-color: #e0e0e0;
    --text-color-black: rgb(40, 40, 40);
    --border-radius: 0.225em;
    --secondary-color:   rgba(255, 255, 255, 0.040);

}




  
  
  * , *::before , *::after{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
  }
  *::before , *::after{
    display: block;
  }
  
  img , picture , video , iframe , figure{
    max-width: 100%;
    width: 100%;
    display: block;
    object-fit: cover;        
    object-position: center center;
  }
  
  a {
    display: block;
    text-decoration: none;
    color:inherit;
    font-size:inherit;
  }
  p a {
    display: inline;
  }
  
  li {
    list-style-type: none;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  h1 , h2 , h3 , h4 , h5 , h6 , p ,span , a , strong , blockquote , i , b , u , em {
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color:inherit;
  }
  blockquote:before, blockquote:after, q:before, q:after {
      content: '';
      content: none;
  }
  
  ::selection {
    background-color: var(--negro);
    color: var(--blanco);
  }
  
  form , input, textarea, select , button , label{
      font-family: inherit;
      font-size: inherit;
      hyphens: auto;
      background-color: transparent;
      color:inherit;
      display: block;
  }
  
  table , tr , td {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  svg{
      width: 100%;
      display: block;
      fill: currentColor;
  }
  
  body {
    min-height  : 100vh;
    font-size   : 100%;
    font-family : 'Roboto', sans-serif;
    color       : var(--text-color);
    background-color:  var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    letter-spacing: .060em;

}


.Header{
    background-color: var(--secondary-color);
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 1em;
    border-radius: var(--border-radius);
}
.Header-title{
    display: flex;
    align-items: center;
    gap: .5em;

}

.Header-title-h1{
    text-shadow: 2px 2px 2px #000;
    font-weight: 500;
}

.Header-title-svg{
    transition: transform 0.3s;
    width: 1.5em;
    filter: drop-shadow(2px 2px 2px #000);
}

.Header-title:hover > .Header-title-svg{
    transform: rotate(20deg);
    transition: transform 0.3s;
}
.Header-title-h1{}


.Header-nav{}
.Header-list{
    display: flex;
    align-items: center;
    gap: 1.5em;
    flex-flow: row wrap;
    text-shadow: 2px 2px 2px #000;
    font-weight: 500;
    letter-spacing: .060em;
}
.Header-item{}
.Header-link:hover{
    text-decoration: underline #ff63c3;
    text-underline-offset: 0.2em;
}




.list-rrss{
    display: flex;
    align-items: center;
    gap: 1em;
    flex-flow: row wrap;
}
.list-rrss-item{
}
.list-rrss-link{}
.list-rrss-svg{
    max-width: 1.25em;
    transition: transform 0.3s;
    filter: drop-shadow(2px 2px 2px #000);
}

.list-rrss-svg:hover{
    transform: scale(1.10);
    transition: transform 0.3s;
}

/* Main */

.Main{
    margin: 4em 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 30em;
}

.ido{
    box-shadow: var(--box-shadow);
    padding: 1em 0em;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.040);
}

.ido-content{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    text-align: center;
}

@media (max-width: 768px){
    .ido-content{
        max-width: 100%;
    }
    .ido{
        padding: 1em 2em;
    }
}

.Me{
    display: flex;
    flex-flow: row nowrap;
    padding: 1em;
    width: 100%;
    align-items: center;
    gap: .5em;
    flex-direction: column;    
}
.Me-title{
    max-width: 11em;
}
.Me-content{
    width: 5em;
    margin: 0 0 0 1em;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 10px #000;
}

.Me-img{
    border-radius: 50%;
    min-height: 5em;
}

.About{
}
.About-title{
    text-decoration: underline 4px #ff63c3;
    text-underline-offset: .3em;
}
.About-text{
    text-align: justify;
    margin: 1em 0 0 0;
    font-size: .9rem;
    letter-spacing: normal;
    font-weight: 300;
    font-family : 'Roboto', sans-serif;
    font-weight: normal;
    color: var(--secondary-text-color);
}

.pink{
    color: #ff63c3;
}

.Love{
    margin: 1em 0 0 0;
}
.Love-title{
    max-width: max-content;
    display: flex;
    align-items: center;
    border-bottom: 4px solid #ff63c3;
}
.Love-title-svg{
    max-width: 1em;
    fill: #ff63c3;
    margin: 0 0 0 .2em;
}

.Love-content{
    text-align: justify;
    margin: 1em 0 0 0;
    font-size: .9rem;
    letter-spacing: normal;
    font-weight: 300;
    font-family : 'Roboto', sans-serif;
    font-weight: normal;
    color: var(--secondary-text-color);
}

.Languages{
    margin: 1em 0 0 0;
    text-decoration: underline 4px #ff63c3;
    text-underline-offset: .3em;
}

.Language-svgs{
    margin: 1em 0 0 0;
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
    filter: drop-shadow(2px 2px 2px #000);
}

.Language-svg{
    max-width: 1.5em;
}



.Project{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    gap: .5em;
}

.Project-card{
    max-width: 14.75em;
    background-color: blue;
    position: relative;
    min-height: 7em;
    max-height: 7em;
    display: flex;
}

.Project-link-title{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    color: var(--text-color);
    font-weight: 500;
    text-shadow: 2px 2px 1px #000;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all .6s;
}

.Project-link-title:hover{
    backdrop-filter: blur(.20em);
    opacity: 1;
    transition: all .6s;
}

.Project-link-img{
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}